__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
projects.json
docker_instances/
.DS_Store
*.log
settings.json
static/mixkit-swiss-alps-snow-background-time-lapse-4283-4k.mp4